body {
    display: flex;
    justify-content: center;
    align-items: center;
	flex-direction: column;
    height: 100vh;
}

.abrir-modal {
	cursor: pointer;
}

.button {
    color: #fff !important;
	text-transform: uppercase;
	text-decoration: none;
	background: #ed3330;
	padding: 20px;
	border-radius: 5px;
	display: inline-block;
	border: none;
	transition: all 0.4s ease 0s;
	margin-top: 10px;
}

.hidden {
	display: none !important;
}
